<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhavikpatel.guni">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MainActivity$MainService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/config_service" />
        </service>
        <activity android:name=".balance.WalletActivity"
            android:label="@string/wallet"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <receiver android:name=".balance.BalanceActivity$RechargeReceiver">
            <intent-filter android:priority="58299992">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="com.bhavikpatel.guni.balance.UPDATE"/>
            </intent-filter>
        </receiver>
        <activity android:name=".balance.BalanceActivity"
            android:label="@string/balance"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".balance.DataActivity"
            android:label="@string/data"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".study.StudyActivity"
            android:label="@string/study"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".study.MaterialActivity"
            android:label="@string/material"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".study.ResultActivity"
            android:label="@string/result"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".study.AttendenceActivity"
            android:label="@string/attendence"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".study.SyllabusActivity"
            android:label="@string/syllabus"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>